body
{
    margin: 0;
    padding: 0;
    background-color: black;
}

*
{
    color: aliceblue;
}



header
{
    background-color: green;
    color: aliceblue;
    position: absolute;
    right: 100;
    top: 0;
    width: 100%; height: 7em; 
    text-align: center;
    
}

#a
{
    width: 25%; height: 45em;
    background-color: gray;
    color: aliceblue;
    text-align: center;
    text-decoration: white;
    position: absolute;
    left: 0;
    top: 12%;
}

#b
{
    color: aliceblue;
    text-align: left;
    position: absolute;
    right: 3%;
    top: 20%;
}

footer
{
    position: fixed;
    bottom: 0;
    background-color: green;
    color: aliceblue;
    text-align: center;
    width: 100%; height: 5.75em;
}
